@model Milestone_CST350.Models.GridModel;

<div style="width:100%;" align="center">
    <div class="gameBoard" style="width: 400px;">
        <div id="grid" style="display:flex; flex-wrap: wrap;">
            <partial name="_Grid" model="Model" />
        </div>
    </div>
</div>