@model Milestone_CST350.Models.GridModel;

<div style="width:100%;" align="center">
    <div class="gameBoard" style="width: 400px;">
        <div id="grid" style="display:flex; flex-wrap: wrap;">
            <partial name="_Grid" model="Model" />
        </div>
    </div>
    @*This sould insert the game board as a peremeter then save it to a database*@
    <a href="/Home/SaveGameBoard/@Model" class="btn btn-primary">Save Board</a>
</div>